.content{
    font-size: 1.2vh;
    padding-left: 5%;
    padding-top: 3%;
}
.content h1{
    font-size: 4.5vh;
}
.card-list{
    display: flex;
}

.card{
  width: 30%;
  align-items: center;
  text-align: center;
}

.card button{
    margin-top: 40px;
    background-color: #F0EAD6;
    font-size: 3.5vh;
    width: 70%;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 4%;
    padding-bottom: 4%;
    transition: 0.6s;
}

.card button:hover{
    width: 80%;
    background-color: #F0EAD6;
    color: black;
  }

.card img{
    width: 80%;
}

