.content{
    display: block;
    padding: 2%;
    font-size: 2.5vh;
}


.last{
    width: 50%;
}

@media screen and (max-width: 700px) {
    .content{
      display: block;
      font-size: 2vh;
      padding: 1%;
      text-align: justify;
      
    }

    .last{
        width: 100%;
        text-align: justify;
    }
  }