.content{
  display: flex;
  margin-bottom: 5%;
  font-size: 1.2vw;
}

.content .left{
  width:50%;
  text-align: center;
  padding: 12% 12%;
}

.content .right{
  width:50%;
  padding-top: 6%;
  padding-right: 5%;
}

.content button{
  padding: 10px 10px;
  font-size: 14px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: -5px 5px grey;
  transition: 0.6s;
  width:25%
}

.content button:hover{
  background-color: #F0EAD6;
  color: black;
}

.banner{
  display: flex;
  justify-content: center;
  background-color: #F0EAD6;
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 5%;
}

.banner .card{
  width: 25%;
  align-items: center;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
}

.banner img{
  width: 20%;
  height: auto;

}

.footer {
  display:flex;
  justify-content:center;

}

.footer .socials{
  width: 15%;
  text-align: left;
  margin-top: 5%;
}

.footer .logo{
  width: 50%;
  align-items: center;
  text-align: center;
}

.footer .logo img{
  width: 30%;
}


.footer .about{
    width: 15%;
    text-align: right;
    margin-top: 5%;
}



@media screen and (max-width: 700px) {
  .content{
    display: block;
    font-size: 2vh;
    padding-left: 0%;
  }
  .content .left{
    width: 80%;
  }

  .content .right{
    width: 100%;
    padding: 0%;
  }
  .content .right img{
    width: 100%;
  }

  .content button{
  width: 100%;
  }

  .content button:hover{
    background-color: #F0EAD6;
    color: black;
    width: 100%;
  }

  .banner{
    display: block;
  }

  .banner .card{
    width: 90%;
  }
  .banner h1{
    font-size: 2vh;
  }
}