html, body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
  font-family: "Montserrat", sans-serif;
}

.topnav {
    background-color: #F0EAD6;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .topnav a {
    font-weight: bold;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding-top:30px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:20px;
  }
  
  .topnav a:first-of-type:hover {
  background-color: #F0EAD6;
  color: black;
}
  
  .topnav a:hover {
    background-color: lightgoldenrodyellow;
    color: black;
  }
  
  .topnav a.active {
    background-color: #F0EAD6;
    color: black;
  }


.topnav img{
  height: 50px;
  justify-content:center;
  align-items: center;
  margin:-10px;
  
}

.navimg:hover{
  background-color: black;
  
}

@media screen and (max-width: 700px) {
  .topnav{
    font-size: 1vh;
  }

  .topnav a{
    font-size: 1.2vh;
    padding: 5%;
  }

  .topnav img{
    height: 35px;
  }
}

